.deps
.libs
*.o
*.lo
CommonLibs/BitVectorTest
CommonLibs/ConfigurationTest
CommonLibs/F16Test
CommonLibs/InterthreadTest
CommonLibs/LogTest
CommonLibs/Makefile
CommonLibs/Makefile.in
CommonLibs/RegexpTest
CommonLibs/SocketsTest
CommonLibs/TimevalTest
CommonLibs/URLEncodeTest
CommonLibs/VectorTest
CommonLibs/libcommon.la
GSM/Makefile
GSM/Makefile.in
GSM/libGSM.la
Makefile
Makefile.in
Transceiver52M/Makefile
Transceiver52M/Makefile.in
Transceiver52M/arm/Makefile
Transceiver52M/arm/Makefile.in
Transceiver52M/common/.dirstamp
Transceiver52M/libtransceiver.la
Transceiver52M/osmo-trx
Transceiver52M/x86/Makefile
Transceiver52M/x86/Makefile.in
Transceiver52M/x86/libarch.la
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
configure
depcomp
install-sh
libtool
ltmain.sh
missing
sqlite3/Makefile
sqlite3/Makefile.in
sqlite3/libsqlite.la
stamp-h1
