#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-manuals \
		--with-systemdsystemunitdir=/lib/systemd/system \
		--with-bladerf \
		--with-ipc \
		--with-lms \
		--with-mstrx \
		--with-uhd \
		--with-usrp1 \
		$(NULL)

override_dh_strip:
	dh_strip --dbg-package=osmo-trx-dbg

# Don't create .pdf.gz files (barely saves space and they can't be opened directly by most pdf readers)
override_dh_compress:
	dh_compress -X.pdf
